/* Here in the css file you'll write your styling. make sure to link the css file to the html file. If it's linked correctly you should see a light blue background. */

body {
  background-color: lightblue;

}

.menu {
  padding: 20px;
  color: gold;
  font-size: 32px;
  font-style: arial;

}



.blue-box {

background-color: pink;
padding: 20px;
width: 700px;
border-radius: 10%;
margin: 20px; 5px; 5px; 5px;
text-align: center;
}

.blue-box img {
	background-color: rgb(83, 97, 97);
	padding: 20px;
	width: 400px;
	border-radius: 15%;
	margin: 20px; 5px; 5px; 5px;
	text-align: center;
}